.bokeh-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #fde68a 0%, #facc15 100%);
  z-index: 0;
}

.bokeh-background::before,
.bokeh-background::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: url("/src/assets/stardust.png")
    repeat;
  background-size: contain;
  animation: moveBokeh 30s linear infinite;
  opacity: 0.3;
}

.bokeh-background::after {
  animation-direction: reverse;
}

@keyframes moveBokeh {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-25%, -25%) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
